{% extends "base.html" %}
{% comment %} extends references the global templates folder base.html file in there, need to add this to settings.py in project for this ref to work {% endcomment %}
{% comment %} load static is needed to use css static files in html templates {% endcomment %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock css_files %}

    {% block page_title %}
        All Challenges
    {% endblock  %}

    {% block content %}
        {% include "challenges/includes/header.html" with active_page="index" %}

        <ul>
            {% for month in months %}
            {% comment %} OLD WAY <li><a href="/challenges/{{ month }}">{{ month|title }}</li> {% endcomment %}
                {% comment %} for url, need first to include name of path, then the actual name of the endpoint or the variable name  {% endcomment %}
                <li><a href="{% url "month-challenge" month %}">{{ month|title }}</li>
            {% endfor %}
        </ul>
    {% endblock  %}